In [5]:
def is_occupied(bn):
    df = pd.read_csv("patients1.csv")
    res=list(zip(df["BedNum"].values, df["Status"].values))
    res=res[::-1]
    occupied=False
    for bed,status in res:
        if bn==bed and (status==0 or status==1):
            occupied=True
            break
    return occupied

In [6]:
import pandas as pd
df = pd.read_csv("patients1.csv")
df

   PatientID      Name  Age AdmissionDate  BedNum  Status DischargeDate
0       2001        p1   10    2017-11-29     101       1           NaN
1       2002        p2   20    2017-11-29     102       2    2017-12-03
2       2003        p3   30    2017-11-29     103       2    2017-11-30
3       2004        p4   40    2017-11-29     104       0           NaN
4       2005        p5   50    2017-11-29     105       2    2017-12-01
5       2006  patient3   17    2017-12-01     106       2    2017-12-01
6       2007      test   23    2017-12-01     107       0           NaN
7       2008      hari   34    2017-12-01     108       2    2017-12-03
8       2009     test2   34    2017-12-01     102       0           NaN
9       2010   krishna   34    2017-12-03     110       0           NaN

In [8]:
is_occupied(103)

False